* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Nova";
}

header {
    height: 40px;
    min-width: 1100px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-top: 5px solid  #42cfa2;
    box-shadow: 0px 0px 20px rgb(185, 185, 185);
}

.left-section {
    display:flex;
    align-items: center;
    flex-grow: 7;
}

.left-section .logo:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    flex-grow: 3;
    justify-content: center;
}

.left-section nav {
    flex-grow: 6;
    display: flex;
    justify-content: space-evenly;
}

.left-section nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    min-height: 60px;
    color: #5b5c5b;
}

.left-section nav a:hover {
    background-color:  #42cfa2;
    color: white;
    cursor: pointer;
}

#firstItemBackground {
    background-color: #42cfa2;
    padding: 23px;
}

.phone {
    width: 200px;
    flex-grow: 3;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    color: #5b5c5b;
}

.phone::before { 
    content: url(src/phone.png);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

section {
    margin: 70px auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

article {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

.firstArticle {
    transition: all 0.3s ease;
}

.firstArticle:hover {

    box-shadow: 0px 1px 17px -3px #42cfa2;
    -webkit-transform: scale(1);
    transform: scale(1.1);
}

.secondArticle {
    margin: 0px 40px;
    transition: animation 0.2s ease;
}

@-webkit-keyframes secondArticle {
    30% {
        -webkit-transform: skewY(1deg);
        -ms-transform: skewY(1deg);
        transform: skewY(1deg);
    }

    50% {
        -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
        transform: skewY(2deg);
    }


    100% {
        -webkit-transform: skewY(3deg);
        -ms-transform: skewY(3deg);
        transform: skewY(3deg);
    }
}

@keyframes secondArticle {
    30% {
        -webkit-transform: skewY(1deg);
        -ms-transform: skewY(1deg);
        transform: skewY(1deg);
    }

    50% {
        -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
        transform: skewY(2deg);
    }


    100% {
        -webkit-transform: skewY(3deg);
        -ms-transform: skewY(3deg);
        transform: skewY(3deg);
    }

}

.secondArticle:hover
{
    -webkit-animation: secondArticle 0.5s ease;
    animation: secondArticle 0.5s ease;
    -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
    box-shadow: 0px 1px 17px -3px #42cfa2;
    -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.thridArticle {
    transition:all 0.3s ease;
}

.thridArticle:hover {
    box-shadow: 0px 1px 17px -3px #42cfa2;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

svg {
    color: rgb(76, 76, 158);
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(61, 61, 61);
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}
p {
    color: rgb(117, 117, 117);
    font-size: 13px;
}