* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Nova";
}

.uses-flex  {
    display: flex;
}

.centering {
    align-items: center;
}

.space {
    flex-grow: 3;
}

.justify {
    justify-content: center;
}

svg, h2 {
    margin-bottom: 20px;
}

.dark-text {
    color: #4b4b4b;
}

.gray-text {
    color: #7a7a7a;
}

.green-shadow {
    transition: all 0.3s ease;
}

.green-shadow:hover {
    box-shadow: 0px 1px 17px -3px #42cfa2;
}

header {
    height: 40px;
    min-width: 1100px;
    padding: 30px;
    border-top: 5px solid  #42cfa2;
    box-shadow: 0px 0px 20px lightgray;
}

.left-section {
    flex-grow: 7;
}

.left-section .logo {
    text-decoration: none;
    font-weight: bold;
}

.left-section nav {
    flex-grow: 6;
    justify-content: space-evenly;
}

.left-section nav a {
    min-width: 110px;
    min-height: 60px;
}

.left-section nav a:hover {
    background-color: #42cfa2;
    color: white;
    cursor: pointer;
}

.phone {
    width: 200px;
    white-space: nowrap;
}

.phone::before { 
    content: url(src/phone.png);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

section {
    margin: 70px auto auto auto;
    flex-direction: row;
    width: 60%;
}

article {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

article:first-child:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bounce {
    margin: 0px 40px;
}

@-webkit-keyframes bounce {
    20%, 50%, 80%,to {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    70% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    90% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@keyframes bounce {
    20%, 50%, 80%,to {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    70% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    90% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

.bounce:hover {
    animation: bounce 1s linear;
}

article:last-child:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

svg {
    color: #4c4c9e;
    width: 50px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 13px;
}